# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js

# testing
/coverage


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


app 2.js
app 3.js
app 4.js
client/src/components/FormikField 2.js
client/src/components/FormikField 3.js
client/src/components/LandingPage/LandingPage 2.js
client/src/components/LandingPage/LandingPage 3.js
client/src/components/LandingPage/LandingPage 4.js
client/src/components/LoginPage/LoginPage 2.js
client/src/components/LoginPage/LoginPage 3.js
client/src/components/LoginPage/LoginPage 4.js
client/src/components/LoginPage/Validation 2.js
client/src/components/LoginPage/Validation 3.js
client/src/components/LoginPage/Validation 4.js
client/src/components/ProfilePage/CharacterInfo/CharacterCard 2.js
client/src/components/ProfilePage/CharacterInfo/CharacterCard 3.js
client/src/components/ProfilePage/CharacterInfo/CharacterCard 4.js
client/src/components/ProfilePage/EducationInfo/EducationCard 2.js
client/src/components/ProfilePage/EducationInfo/EducationCard 3.js
client/src/components/ProfilePage/EducationInfo/EducationCard 4.js
client/src/components/ProfilePage/EducationInfo/EducationDialog 2.js
client/src/components/ProfilePage/EducationInfo/EducationDialog 3.js
client/src/components/ProfilePage/EducationInfo/EducationDialog 4.js
client/src/components/ProfilePage/EducationInfo/EducationForm 2.js
client/src/components/ProfilePage/EducationInfo/EducationForm 3.js
client/src/components/ProfilePage/EducationInfo/EducationForm 4.js
client/src/components/ProfilePage/EducationInfo/Validation 2.js
client/src/components/ProfilePage/EducationInfo/Validation 3.js
client/src/components/ProfilePage/EducationInfo/Validation 4.js
client/src/components/ProfilePage/FileExplorer 2.js
client/src/components/ProfilePage/FileExplorer 3.js
client/src/components/ProfilePage/FileExplorer 4.js
client/src/components/ProfilePage/ProfilePage 2.js
client/src/components/ProfilePage/ProfilePage 3.js
client/src/components/ProfilePage/ProfilePage 4.js
client/src/components/ProfilePage/ProjectInfo/ProjectCard 2.js
client/src/components/ProfilePage/ProjectInfo/ProjectCard 3.js
client/src/components/ProfilePage/ProjectInfo/ProjectCard 4.js
client/src/components/ProfilePage/ReflectionInfo/ReflectionCard 2.js
client/src/components/ProfilePage/ReflectionInfo/ReflectionCard 3.js
client/src/components/ProfilePage/ReflectionInfo/ReflectionCard 4.js
client/src/components/ProfilePage/SkillsInfo/SkillsCard 2.js
client/src/components/ProfilePage/SkillsInfo/SkillsCard 3.js
client/src/components/ProfilePage/SkillsInfo/SkillsCard 4.js
client/src/components/SignUpPage/SignUpPage 2.js
client/src/components/SignUpPage/SignUpPage 3.js
client/src/components/SignUpPage/SignUpPage 4.js
client/src/components/SignUpPage/Validation 2.js
client/src/components/SignUpPage/Validation 3.js
client/src/components/SignUpPage/Validation 4.js
client/src/components/theme 2.js
client/src/components/theme 3.js
client/src/image/bg 2.png
client/src/image/bg 3.png
client/src/image/bg 4.png
cypress 2.json
cypress 3.json
cypress 4.json
cypress 5.json
cypress 6.json
cypress 7.json
cypress/fixtures/example 2.json
cypress/fixtures/example 3.json
cypress/integration/landing_test 2.js
cypress/integration/landing_test 3.js
cypress/integration/landing_test 4.js
cypress/integration/login_test 2.js
cypress/integration/login_test 3.js
cypress/integration/login_test 4.js
cypress/integration/profile_test 2.js
cypress/integration/profile_test 3.js
cypress/integration/profile_test 4.js
cypress/integration/signup_test 2.js
cypress/integration/signup_test 3.js
cypress/integration/signup_test 4.js
cypress/plugins/index 2.js
cypress/plugins/index 3.js
cypress/support/commands 2.js
cypress/support/commands 3.js
cypress/support/index 2.js
cypress/support/index 3.js
